*{
    margin:0;
    margin: 0;
}
body{
    background-color: pink;
    color:rgb(247, 121, 205)
}
#contenedor{
    width: 850px;
    height: 550px;
    background-color: rgb(244, 216, 245);
    margin: 10px;
    padding: 20px;

}
#encabezado{
    width: 90%;
    background-color: rgb(233, 186, 233);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    
    
    }

menu{
    height: 45px;
    background-color: black;
    margin: 1em;
    border-radius: 3px;
    

}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 2sem;
}
img:hover{
    width: 230px;
}
li a:hover{

    color: rgb(223, 51, 180);
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}
/*selector de clase*/

.img{

    width: 210%;
    border-radius: 30px;
    justify-items: center;

}
/*card*/
.card{
    /*sombra derecha-izquierda*/

    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    
    border: 2px solid;
    border-radius: 10px;

}
.scope-one-regular{
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}
.linea{
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 20px auto;
}
.pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
#contener{
    width: 770px;
    height: 10px;
    background-color: rgb(233, 186, 233);
    justify-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
}
