*{
    margin: 0;
    border-radius: 0;
  }
  body{
    background-color: #f1ecea;
    color:#362f2f; 
  }
  
  
  .card{
    
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 730px;
    margin: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    height: 500px;
    width: 3500%;
    justify-content:space-between;
  }
  
  .cardmenu{
    
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    height: 500px;
    width: 3500%;
    justify-content: space-between;
  }
  
  .Flex{
   
    display: flex;
    flex-direction:row;
    width: 90%;
    height: 30%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
  }
  .menu {
    background-color: #b46424;
    text-align: center;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
  }
  
  .menu ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  
  .menu ul li a:hover {
    background-color: #555;
  }
   */selector de clase/
  
  .img{
  
  width: 50%;
  border-radius: 30px;
  justify-items: center;
  
  }
  .texto{
  
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 5px 25px;
  color: #000;
  
  }
  
  
  .pie {
  
    height: 20px;
    background-color: #3a251c;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  .pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: #b58c7c;
  }
  
  .pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


